/*setting the defaults for the page*/
html{
	-ms-box-sizing:border-box;
	box-sizing:border-box;
	margin:0;
	padding:0;
}

/*General styling*/
body{
		font: 400 15px/1.8 "Lato", "Open Sans", Arial, sans-serif;
		color: #000;
		text-align: center;
		background-color: #ffc785	;
		background: -webkit-linear-gradient(left, #ffc785, white); /* For Safari 5.1 to 6.0 */ /* For Opera 11.1 to 12.0 */ /* For Firefox 3.6 to 15 */
    	background: linear-gradient(to right,#ffc785, white); /* Standard syntax */
	}

html,body,#wrapper{
	height: 100%;
}

body>#wrapper{
	height: auto;
	min-height: 100%;
}

/*styling the footer*/
footer{
	background-color: #2a2324 !important;
	opacity: 0.9;
	filter:alpha(opacity=90);
}

#footer{
	clear: both;
	position: relative;
	z-index: 10;
	height: 3em;
	margin-top: -3em;
	color: #00bfff !important;
	text-align: right;
	text-transform: uppercase;
}

#footer p{
	font-size:12px;
	background-color: transparent !important;
}

footer:hover{
	opacity: 1;
	filter:alpha(opacity=100);
}


/*styling the ng-view content container*/
#content{
	padding-bottom: 3em;
}


/*styling headings*/
h2,h3{
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 18px;
	font-style: normal;
	color: #00bfff !important;
	padding:20px;
	font-weight: bolder;

}

h1{
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 22px;
	font-style: normal;
	color: #00bfff !important;
	padding:20px;
	font-weight: bolder;

}

/*styling social bar*/
nav img{
	width: 25px;
	height: 25px;
	padding: 0;
}


/*styling the navigation bar*/
.navbar, .navbar-default, .navbar-fixed-top{
		border-radius: 0;
		font-weight: bold;
		font-size: 16px !important;
		letter-spacing: 2px;
		background-color: #2a2324;
		opacity: 0.9;
		filter:alpha(opacity=90);
		border:transparent;
		color: #00bfff;
		text-transform: uppercase;
		padding: 0;
}

.navbar li a, .navbar, .navbar-brand{
	color: #fff !important;
	
}

.navbar-nav li a:hover{
	color: #fff !important;
	background-color: #000 !important;
	border:none;
}

.navbar-nav li.active a{
	color:#fff !important;
	background-color: black !important;
}

.navbar-brand{
	font-size: 30px !important;
	font-weight: bolder;
	color: #00bfff !important;
}

.navbar-toggle{
	color:#fff;
}

#hmc, #music, #video, #gigs, #contact, #band{
	padding-top: 50px;
}

/*styling the carousel*/
.image-shown{
	display: inline-block;
}

.image-hidden{
	display: none;
}

.carousel-inner{
	width: 100%;
	height: 50%;
}

.carousel-inner img{
	height: 100%;
	margin:auto;
	width: 100%;
	z-index: -1;

}

.previousLink, .nextLink, .carousel-inner{
	display: inline-block;
}

#left{
	position: absolute;
	z-index: 1;
	top:210px;
	left:50px;
}

#right{
	position: absolute;
	z-index: 1;
	top:210px;
	right: 50px;
}

.carousel-outer{
	padding: 0;

}


#intro{
display: none;
}

@media screen and (min-width: 0px) and (max-width: 1000px){
	
.carousel-outer{
	display: none;
}

#intro{
	display: block;
	padding-top: 50px;
}

}

/*styling music page */

.thumbnail img{
	height: 200px;
	width:200px;
	border-radius: 0;
}

.thumbnail p{
	text-align: center;
}

ul li{
	list-style: none;
	list-style-image: none;
}


.glyphicon-shopping-cart, .glyphicon-play{
	color: #00bfff !important;
	height: 20px;
	width: 20px;
}

#songs p{
	padding: 0;
	margin: 0;

}

.album{
	padding:30px;
	border-bottom: 2px solid white; 
}

#itunes{
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 18px;
	font-style: normal;
	color: #00bfff !important;
	text-decoration: none;

}

/*styling lists*/
.list-group-item{
	background-color: transparent;
	color: #000;
	padding: 10px;
	margin:0px;
	border:none;
}

.list-group-item:first-child {
    border-top-right-radius: 0;
    border-top-left-radius: 0;
 }

 .list-group-item:last-child {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

/*styling band members*/
.name1, .name2, .name3, .name4{
	border: solid transparent 6px;
	margin-bottom: 25px;
}

.name1:hover,.name2:hover,.name3:hover,.name4:hover{
	border-color:#9E868C;
}

.preview1,.preview2,.preview3,.preview4 {
	display:none;
}

/*styling contact page*/
#comments{
	background-color: #fff;
	color: #fff;
	border-radius: 0;

}

#comments:focus{
	background-color: #fff;
	border: 2px solid #5CC9D6;
	color: #fff;
	border-radius: 0;

}

input[type=text], input[type=number]{
	background-color: #fff;
	border-radius: 0;
	color: #000 !important;
}

input[type=text]:focus, input[type=number]:focus{
	border:2px solid #5CC9D6;
	background-color: #fff;
	color: #fff;
	border-radius: 0;
}


/*gigs page button styling*/

.btn{
	padding: 10px 20px;
	background-color: #2a2324;
	color: #DCCCE8;
	border-radius: 0;
}

.btn:hover, .btn:focus{
	border:1px solid #333;
	background-color: #DCCCE8;
	color:#000;
}

.thumbnail{
	border-radius: 0;
	background-color:transparent;
	color: #000;
	border: transparent;
}




