/*setting the defaults for the page*/
html{
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-ms-box-sizing:border-box;
	box-sizing:border-box;
	margin:0;
	padding:0;
}

/*General styling*/
body{
		font: 400 15px/1.8 "Open Sans","Lato", "cursive", sans-serif;
		background-color: black;
		/*text-transform: uppercase;*/
		text-align: center;
		color: #DCCCE8 !important;
	}


h1,h2,h3{
	text-transform: uppercase;
	letter-spacing: 4px;
	color: #AAEE46 !important;

}

footer{
	color: #AAEE46 !important;
	background-color: #6b585b;
}

input[type=text], input[type=number]{
	background-color: #DCCCE8;
}

input[type=text]:focus, input[type=number]:focus{
	border:2px solid #AAEE46;
	background-color: #6b585b;
	color: #fff;
}

/*styling div containers and fonts*/
.container{
	padding: 80px 120px;
}

.td1{
	background:black;
	color:#DCCCE8;
}

.td1 p{
	font-style: italic;
}

/*styling the navigation bar*/
.navbar, .navbar-default, .navbar-fixed-top{
		border-radius: 0;
		font-weight: bold;
		font-size: 18px !important;
		letter-spacing: 4px;
		background-color: #6b585b;
		opacity: 0.8;
		border:none;
		color: #DCCCE8;
		text-transform: uppercase;
}

.navbar li a, .navbar, .navbar-brand{
	color: #DCCCE8 !important;
}

.navbar-nav li a:hover{
	color: #fff !important;
	background-color: #000 !important;
}

.navbar-nav li.active a{
	color:#fff !important;
	background-color: black !important;
}

.navbar-brand{
	font-size: 20px !important;
	font-weight: bolder;
	color: #AAEE46 !important;
}

/*styling home page carousel*/
.carousel-caption h3{
	color: #AAEE46 !important;
}
.carousel-inner img{
	-webkit-filter:grayscale(90%);
	filter: grayscale(90%);
	width: 100%;
	margin:auto;
}

/*styling music page carousel*/
.carouselm{
	height: 350px;
	width: 350px;
}

.carouselm h3,p{
	background-color: #000 !important;
	opacity: .8;
	border-radius: 10px;
}

/*styling albums*/
.album-list {
	display: inline-block;
	padding: 10px;
	text-align: top center;
	vertical-align: center;
}

#play1, #play2, #play3, #play4{
	display: none;
}

#itunes{
	text-decoration: none;
	color: inherit;
}

.glyphicon-shopping-cart, .glyphicon-play{
	color: #AAEE46 !important;
}

.show {

}

.list-group-item{
	background-color: #DCCCE8;
	color: black;

}

/*styling band memebers photos*/
.img-circle{
	-webkit-filter:grayscale(80%);
	filter: grayscale(80%);
	height: 250px;
	width: 250px;
}

/*styling band members profile description*/
.name{
	opacity:0.8;
	border: solid transparent 8px;
	height:200px;
	width:150px;
}

.name:hover{
	border-color:#9E868C;
}

.preview {
	display:none;
}

/*styling comments section on contact page*/
#comments{
	background-color: #DCCCE8;
	color: #fff;

}

#comments:focus{
	background-color: #6b585b;
	border: 2px solid #AAEE46;
	color: #fff;

}

.glyphicon-shopping-cart{
	height:20px;
	width:20px;
}

/*gigs page button styling*/

.btn{
	padding: 10px 20px;
	background-color: #6b585b;
	color: black;
	border-radius: 0;
}

.btn:hover, .btn:focus{
	border:1px solid #333;
	background-color: #DCCCE8;
	color:#000;
}

/*old version styling:

#search-bar{
	display: none;
}

#search-bar a{
	padding: 10;
	margin:0;
}

#search-bar input[type=text]{
	background-color: #DCCCE8 !important;

}*/

/*.thumbnail{
	background-color: #DCCCE8;
	color:black;

}*/
