<!--Responsive navigation bar-->

<nav class="navbar navbar-default navbar-fixed-top">
	<div class="nav navbar-header">
		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myCollapsingList">
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</button>
		<a class="navbar-brand" href="#/home">THE SUPER JAYS</a>
	</div>
	<div class="collapse navbar-collapse" id="myCollapsingList">
		<ul class="nav navbar-nav navbar-right">
			<li>
				<a href="#/" class="home">Home</a>
			</li>
			<li>
				<a href="#/music">Music</a>
			</li>
			<li>
				<a href="#/video">Videos</a>
			</li>
  			<li>
  				<a href="#/band">Band</a>
  			</li>
			<li>
				<a href="#/gigs">Gigs</a>
			</li>
			<li>
				<a href="#/contact">Contact</a>
			</li>
			    <!-- <li id="search-bar">
			     	<a href="" class="link"><input type="text" id="search" placeholder="Search here!"></a>
				 </li>-->
			<li id="search-btn">
				<a href="#/"><span class="glyphicon glyphicon-search" id="search-btn"></span></a>
			</li>
			</ul>
	</div>
</nav>