<div class="container-fluid" id="news">

<h1>NEWS</h1>

<div class="row">
<div class="col-xs-6 col-md-3">
	<h3>The Greatest Hits</h3>
	<p>Check out our best album</p>
	<img class="" src="images/album.jpg" alt="">
	<p>There are some great tunes on our album.</p>
	<p>Go to our <a href="#/music"> Music </a> page to enjoy them!</p>
	<p>You can also get this album on Itunes.</p>

</div>

<div class="col-xs-6 col-md-3">
	<h3>Read our blog.</h3>
	<p>Andy and Joe's kept busy.</p>
	<img class="" src="images/cover1.jpg" alt="">
	<p>Our band taking a trip to Lake Michigan inspired Andy and Joe.</p>
	<p>Check their blog pages now!</p>
	<p>And follow them on Twitter :)</p>

</div>

<div class="col-xs-6 col-md-3 ">
	<h3>We have a new radio show!</h3>
	<p>Tune in!!!</p>
	<img class="" src="images/cover.jpg" alt="">
	<p>Our new radio show is now live on 98FM every Tuesday evening from 7PM.</p>
	<p>Join us there for some of the best music.</p>

</div>

<div class="col-xs-6 col-md-3">
	<h3>Our next event is in: Manchester!</h3>
	<p>Book your tickets <a href="#/gigs">now!!!</a></p>
	<img class="" src="images/concert31.jpg" alt="">
	<p>A great show is about to start in the capital.</p>
	<p>See the back scenes before the show by adding "VIP16" when you get your tickets. Hurry! Only available for a limited time. </p>
</div>
</div>
</div>