		
<div class="row" id="songs">
	<div class="col-xs-12 col-md-12">
		<p>1. Clarksville</p>	<br>
		<audio controls="controls">
		<source src="audio/clarksville.mp3" type="audio/mpeg; codecs=mp3"/>
		</audio>
	</div>
	<div class="col-xs-12 col-md-12">
		<p>2. Day Dream Believer</p> <br>	
		<audio controls="controls">
		<source src="audio/daydreambeliever.mp3" type="audio/mpeg; codecs=mp3"/>
		</audio>
	</div>
	<div class="col-xs-12 col-md-12">
		<p>3. I'm a Believer </p>	<br>
		<audio controls="controls">
		<source src="audio/imabeliever.mp3" type="audio/mpeg; codecs=mp3"/>
		</audio>
	</div>
	<div class="col-xs-12 col-md-12">
		<p > 4. Stepping Stone </p> 	<br>
		<audio controls="controls">
		<source src="audio/steppingstone.mp3" type="audio/mpeg; codecs=mp3"/>
		</audio>
	</div>
</div>
	
	