<div class="container" id="play1">
		<div class="row">
			<div class="col-sm-6">
				<img class="img-rounded" src="images/album1.png" alt="album 1" height=250 width=250>
			</div>
			<div class="col-sm-6">
				<table class="album-list">
					<tr>
					<td>Clarksville</td>	
					<td>	<audio class="play" controls="controls">
						<source src="audio/clarksville.mp3" type="audio/mpeg; codecs=mp3"/>
						</audio>
					</td>
					</tr>
					<tr>
					<td>Day Dream Believer</td> 	
						<td><audio controls="controls">
						<source src="audio/daydreambeliever.mp3" type="audio/mpeg; codecs=mp3"/>
						</audio>
					</td>
					</tr>

					<tr>
					<td>I'm a Believer </td>	
						<td><audio controls="controls">
						<source src="audio/imabeliever.mp3" type="audio/mpeg; codecs=mp3"/>
						</audio>
					</td>
					</tr>
					<tr>
					<td>Stepping Stone </td> 	
					<td>	<audio controls="controls">
						<source src="audio/steppingstone.mp3" type="audio/mpeg; codecs=mp3"/>
						</audio>
					</td>
					</tr>
					
				</table>
			</div>
		</div>
		<br>
		<div class="row">
			<div class="col-sm-6">
				
			</div>
		
			<div class="col-sm-6">
				<p>Buy this album on <a href="http://www.apple.com/itunes/music/" id="itunes">Itunes<span class="glyphicon glyphicon-shopping-cart"></span></a></p>
			</div>
		</div>
	</div>