		<div class="row text-center" id="play1" >
			<div class="col-sm-6">
				<ul class="list-group" id="songs">
					<li class="list-group-item">

					<h4>Clarksville</h4>	
					<audio class="play" controls="controls">
						<source src="audio/clarksville.mp3" type="audio/mpeg; codecs=mp3"/>
						</audio>
					</li>
					<li class="list-group-item">
					<h4>Day Dream Believer</h4> 	
						<audio controls="controls">
						<source src="audio/daydreambeliever.mp3" type="audio/mpeg; codecs=mp3"/>
						</audio>
					</li>
					<li class="list-group-item">
					<h4>I'm a Believer </h4>	
						<audio controls="controls">
						<source src="audio/imabeliever.mp3" type="audio/mpeg; codecs=mp3"/>
						</audio>
					</li>
					<li class="list-group-item">
					<h4>Stepping Stone </h4> 	
						<audio controls="controls">
						<source src="audio/steppingstone.mp3" type="audio/mpeg; codecs=mp3"/>
						</audio>
					</li>
				</ul>
			</div>
		</div>
	