<div class="container-fluid text-center" id="band">
	<div>
		<h1>Our history!</h1>
		<div class="row">
			<div class="col-xs-12 col-md-12">
				<p>The Super Jays are a High Energy Interactive Band. Our focus is on creating a fun and entertaining party atmosphere for your special night, with your favourite songs, to entertain your guests and keep everyone on the dance floor!</p>
				<p>We play an unusual high energy mix of old-school rock, classics, funk, jazz, current top 40, soul, swing, jives, quicksteps, celtic and all those 80’s hits.</p>
<p>Our show is interactive, encouraging audience participation and involvement from your guests to create a unique and personalised entertainment experience. It's your night. Your favourite songs. We made you a mixtape!</p>
<p>We are different to other bands, we tailor the band to every event to make sure your event is nothing short of sensational.</p>
<p>Below a few words about each member of our amazing band:</p>
			</div>
		</div>
			<div class="row">
		    <div class="col-sm-3">
		        <h3>Joe Black</h3>
		        <br>
		        <img class="img-circle name1" src="images/dj.jpg" alt="Random image">
		        <div class="preview1">
		            <p>Lead Vocalist and Drummer</p>
		            <p>Member since 1998</p>
		            <p>Likes avocados.</p>
		        </div>
		    </div>
		    <div class="col-sm-3">
		        <h3>Harry Cole</h3>
		        <br>
		        <img class="img-circle name2" src="images/mn.jpg" alt="Random image"></img>
		        <div class="preview2">
		            <p>Guitarist</p>
		            <p>Member since 2000</p>
		            <p>Likes travelling.</p>
		        </div>
		    </div>
		    <div class="col-sm-3">
		        <h3>Daniel Mitchell</h3>
		        <br>
		        <img class="img-circle name3" src="images/pt.jpg" alt="Random image" ></img>
		        <div class="preview3">
		            <p>Back vocals</p>
		            <p>Member since 2003</p>
		            <p>Likes to go shopping.</p>
		        </div>
		    </div>
		    <div class="col-sm-3">
				<h3>Andrew Stewart</h3>	
				<br>
		        <img class="img-circle name4" src="images/md.jpg" alt="Random image" ></img>
		        <div class="preview4">
		            <p>Keyboards</p>
		            <p>Member since 2001</p>
		            <p>Likes to play video games.</p>
		        </div>
		    </div>
		    
		</div>
	</div>
	<script src="scripts/main.js"></script>
</div>