<div class="container-fluid text-center" id="gigs">
	<div class="row">
		<div class="col-xs-12 col-md-12">
			<h1>Tour Dates</h1>
			<p>These are the days when we will play some good quality music.<br>Remember to book your tickets!</p>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12 col-md-12">
			<ul class="list-group">
				<li class="list-group-item" >January: <span class="label label-danger">SOLD OUT!</span></li>
				<li class="list-group-item">February: <span class="label label-danger">SOLD OUT!</span></li>
				<li class="list-group-item" >March <span class="badge info"> 3 </span> Gigs coming up:</li>
			</ul>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12 col-md-4">
			<div class="thumbnail">
				<img src="images/concert3.jpg" alt="">
				<p><strong>Manchester</strong></p>
				<p>Sat. 5 March 2016</p>
				<button class="btn">Buy Tickets</button>
			</div>
		</div>
		<div class="col-xs-12 col-md-4">
			<div class="thumbnail">
				<img src="images/concert3.jpg" alt="">	
				<p><strong>Dublin</strong></p>
				<p>Sat. 19 March 2016</p>
				<button class="btn">Buy Tickets</button>
			</div>
		</div>
		<div class="col-xs-12 col-md-4">
			<div class="thumbnail">
				<img src="images/concert3.jpg" alt="">	
				<p><strong>Glasgow</strong></p>
				<p>Sat. 27 March 2016</p>
				<button class="btn">Buy Tickets</button>
			</div>
		</div>
	</div>
</div>
