<div class="td1">
	<div class="container">
		<h3 class="text-center">Tour Dates</h3>
		<p class="text-center">These are the days when we will play some good quality music.<br>Remember to book your tickets!</p>
		<ul class="list-group">
			<li class="list-group-item">January: <span class="label label-danger">SOLD OUT!</span></li>
			<li class="list-group-item">February: <span class="label label-danger">SOLD OUT!</li>
			<li class="list-group-item">March <span class="badge"> 2 </span> Gigs coming up:</li>
		</ul>
		<div class="row text-center">
			<div class="col-sm-6">
				<div class="thumbnail">
					<img src="images/concert3.jpg" height="300" width="300" alt="">
					<p><strong>Manchester</strong></p>
					<p>Sat. 5 March 2016</p>
					<button class="btn">Buy Tickets</button>
				</div>
			</div>
			<div class="col-sm-6">
				<div class="thumbnail">
					<img src="images/concert3.jpg" height="300" width="300" alt="">	
					<p><strong>Dublin</strong></p>
					<p>Sat. 19 March 2016</p>
					<button class="btn">Buy Tickets</button>
				</div>
			</div>
	</div>
</div>
