<!doctype <!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="css/carousel.css">
	<title></title>

</head>
<body>



<div class="td1 text-center">
	<h2>Slider</h2>
	<div class="carousel-outer">
		<a class="previousLink" href="#">Previous</a>
		<div class="carousel-inner">
			<img class="image-shown" src="images/img1.jpg" alt=""/>
			<img class="image-hidden" src="images/concert1.jpg" alt=""/>
			<img class="image-hidden" src="images/concert2.jpg" alt=""/>
		</div>
		<a class="nextLink" href="#">Next</a>
	</div>
	
</div>

	<script type="text/javascript" src="https://code.jquery.com/jquery-2.2.1.min.js"></script>
   	<script type="text/javascript" src="scripts/slider.js"></script>

</body>
</html>