<div class="td1 container-fluid text-center">
	<h3>Scroll through all of our albums!<br> And listen to our great music.<br> Enjoy!</h3>
	
			
	<div class="row">
		<div class="col-sm-4 col-md-4">
			<img src="images/album1.png" alt="Super Jays Band" width="250" height="250" align="center" id="img1" >

		</div>
		<div class="col-sm-2 col-md-2" id="">
				<h3> Our First Album!</h3>
				<p id="show-play1"> Enjoy listening to some great tunes.<br>
					Click here!</p>
				<p>Buy this album on <a href="http://www.apple.com/itunes/music/" id="itunes">Itunes<span class="glyphicon glyphicon-shopping-cart"></span></a></p>	
		</div>
		<div class="col-sm-6 col-md-6">
			<album-songs></album-songs>
		</div>
	</div>
		
</div>
	
	<script src="scripts/main.js"></script>


