<div class="container-fluid text-center">

	<div class="row">
		<div class="col-xs-12 col-md-12">
			<h3>Scroll through all of our albums!<br> And listen to our great music.<br> Enjoy!</h3>
		</div>
	</div>

	<div class="row album">
		<div class="col-xs-5 col-md-5 thumbnail">
			<img src="images/album1.png" alt="" >
		</div>
		<div class="col-xs-2 col-md-2">
			<h3> Our First Album!</h3>
			<p> Enjoy listening to some great tunes.</p>
			<p>Like it? Buy this album on <a href="http://www.apple.com/itunes/music/" id="itunes">Itunes<span class="glyphicon glyphicon-shopping-cart"></span></a></p>	
		</div>
		<div class="col-xs-5 col-md-5">
			<album-songs class="col-xs-5 col-md-5"></album-songs>
		</div>
	</div>

	<div class="row album">
		<div class="col-xs-5 col-md-5 thumbnail">
			<img src="images/album2.jpg" alt="">
		</div>
		<div class="col-xs-2 col-md-2" >
				<h3> Best of </h3>
				<p > Listen to our greatest tunes.</p>
				<p>Go on <a href="http://www.apple.com/itunes/music/" id="itunes">Itunes<span class="glyphicon glyphicon-shopping-cart"></span></a> now!</p>	
		</div>
		<div class="col-xs-5 col-md-5">
			<album-songs class="col-xs-5 col-md-5"></album-songs>
		</div>
	</div>

	<div class="row album">
		<div class="col-xs-5 col-md-5 thumbnail">
			<img src="images/album3.jpg" alt="" >

		</div>
		<div class="col-xs-2 col-md-2" >
				<h3> Welcome to Japan</h3>
				<p > Asian tour on record.</p>
				<p> Get it now on <a href="http://www.apple.com/itunes/music/" id="itunes">Itunes<span class="glyphicon glyphicon-shopping-cart"></span></a></p>	
		</div>
		<div class="col-xs-5 col-md-5">
			<album-songs class="col-xs-5 col-md-5"></album-songs>
		</div>
	</div>
		
</div>
	


