<div class="container-fluid text-center" id="music">

	<div class="row" id="mtop">
		<div class="col-xs-12 col-md-12">
			<h1>Scroll through all of our albums!<br> And listen to our great music.<br> Enjoy!</h1>
		</div>
	</div>



	<div class="row album" id="album1">

		<div class="col-xs-12 col-md-5">
			<h3> Our First Album!</h3>
			<p> Enjoy listening to some great tunes.</p>
			<p>Like it? Buy this album on <a href="http://www.apple.com/itunes/music/" id="itunes">Itunes<span class="glyphicon glyphicon-shopping-cart"></span></a></p>	
		</div>
		<div class="col-xs-6 col-md-5 thumbnail">
			<img src="images/album1.png" alt="" ><br>
			<audio controls="controls">
				<source src="audio/clarksville.mp3" type="audio/mpeg; codecs=mp3"/>
			</audio>
		</div>
		
		<div class="col-xs-6 col-md-2">
			<ul class="text-left">
				<li><span class="glyphicon glyphicon-play"></span>Clarksville </li>
				<li><span class="glyphicon glyphicon-play"></span>Springfield</li>
				<li> <span class="glyphicon glyphicon-play" ></span>Stepping Stone </li>
				<li> <span class="glyphicon glyphicon-play" ></span>Day Dream Believer </li>
				<li> <span class="glyphicon glyphicon-play" ></span>Thinking of us </li>
				<li> <span class="glyphicon glyphicon-play" ></span>Let's Dance </li>
				
				<li> <span class="glyphicon glyphicon-play" ></span>I am a Believer </li>
		</div>
	</div>

	<div class="row album" id="album2">

		<div class="col-xs-12 col-md-5">
			<h3> Best of!</h3>
			<p> Listen to our greatest tunes.</p>
			<p>Go on <a href="http://www.apple.com/itunes/music/" id="itunes">Itunes<span class="glyphicon glyphicon-shopping-cart"></span></a>now!</p>	
		</div>
		<div class="col-xs-6 col-md-5 thumbnail">
			<img src="images/album2.jpg" alt="" ><br>
			<audio controls="controls">
				<source src="audio/clarksville.mp3" type="audio/mpeg; codecs=mp3"/>
			</audio>
		</div>
		
		<div class="col-xs-6 col-md-2">
			<ul class="text-left">
				<li><span class="glyphicon glyphicon-play"></span>Clarksville </li>
				<li><span class="glyphicon glyphicon-play"></span>Springfield</li>
				<li> <span class="glyphicon glyphicon-play" ></span>Stepping Stone </li>
				<li> <span class="glyphicon glyphicon-play" ></span>Day Dream Believer </li>
				<li> <span class="glyphicon glyphicon-play" ></span>Thinking of us </li>
				<li> <span class="glyphicon glyphicon-play" ></span>Let's Dance </li>
				
				<li> <span class="glyphicon glyphicon-play" ></span>I am a Believer </li>
			</ul>
		</div>
	</div>

	<div class="row album" id="album3">

		<div class="col-xs-12 col-md-5">
				<h3> Welcome to Japan</h3>
				<p > Asian tour on record.</p>
				<p> Get it now on <a href="http://www.apple.com/itunes/music/" id="itunes">Itunes<span class="glyphicon glyphicon-shopping-cart"></span></a></p>	
		</div>
		<div class="col-xs-6 col-md-5 thumbnail">
			<img src="images/album3.jpg" alt="" ><br>
			<audio controls="controls">
				<source src="audio/clarksville.mp3" type="audio/mpeg; codecs=mp3"/>
			</audio>
		</div>
		
		<div class="col-xs-6 col-md-2">
			<ul class="text-left">
				<li><span class="glyphicon glyphicon-play"></span>Clarksville </li>
				<li><span class="glyphicon glyphicon-play"></span>Springfield</li>
				<li> <span class="glyphicon glyphicon-play" ></span>Stepping Stone </li>
				<li> <span class="glyphicon glyphicon-play" ></span>Day Dream Believer </li>
				<li> <span class="glyphicon glyphicon-play" ></span>Thinking of us </li>
				<li> <span class="glyphicon glyphicon-play" ></span>Let's Dance </li>
				
				<li> <span class="glyphicon glyphicon-play" ></span>I am a Believer </li>
			</ul>
		</div>
	</div>

	