<div class=" container-fluid text-center" id="video">
		<div class="row">
			<div class="col-xs-12 col-md-12">
				<h1>Our first video</h1>
				<video height="320px" width="640px" controls= "controls" poster="images/band.jpg">
   					<source src="video/TheMonkees.mp4" type="video/mp4" preload="auto"/>
   					Your browser does not support the video tag.
				</video>
				
			</div>
		<div>
		<div class="row">
			<div class="col-xs-12 col-md-12">
				<h3>The Super Jays - Super Show</h3>
				<p>This is our first ever made video.</p>
				<p>It was filmed in 1985 when we were all young then. It is a classic song and a mood booster.</p>
				<p>There is more videos on our YouTube page, so please follow us there as well.</p>
			</div>
		</div>
</div>
